h1 About
p <strong>lotz</strong>です！数学とかHaskellを趣味でやっています。

div.github-card(data-github="lotz84", data-width="400", data-height="", data-theme="default")
script(src="//cdn.jsdelivr.net/github-cards/latest/widget.js")

a.twitter-timeline(href="https://twitter.com/lotz84_", data-widget-id="602510759751356416") @lotz84_さんのツイート
script.
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
