:markdown
    #flip map
    Haskell とかについていろいろ書いています

    [記事はこちらから](/posts)

script(src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" async)
ins(class="adsbygoogle" style="display:inline-block;width:336px;height:280px" data-ad-client="ca-pub-1606689071691648" data-ad-slot="9741642218")
script.
    (adsbygoogle = window.adsbygoogle || []).push({});
