<p>Haskell とかについていろいろ書いています</p>

<div style="float:left;width:45%">
    <div class="github-card" data-github="lotz84" data-width="400" data-height="" data-theme="default"></div>
    <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>

    <img src="top.jpg" style="margin-top:10px;width:400px" />
</div>

<div style="float:left;width:55%">
    <div id="blog-index">
        <h2>Blog</h2>
        <ul>
        <% var count = 1 %>
        <% for(slug in public.posts._data) { %>
            <% if(slug == "index") { continue; } %>
            <% var post = public.posts._data[slug] %>
            <li id="post<%- count %>"><a href="posts/<%- slug %>"><%- post.title %></a> - <%- post.date %></li>
            <% count += 1 %>
        <% } %>
        </ul>
    </div>
</div>

<link rel="stylesheet" href="/css/libnotify.css">
<script src="/js/humane.min.js"></script>
<script>

humane.timeout = 0;
humane.clickToClose = true;
humane.log("新着記事はこちら", function(){
    window.location = document.querySelector("#post1 a").href;
});

</script>

<script src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" async></script>
<ins class="adsbygoogle" style="display:inline-block;width:336px;height:280px" data-ad-client="ca-pub-1606689071691648" data-ad-slot="9741642218"></ins>
<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
