h1: a(href="/") flip map <img src="/samurai.png" style="margin:-15px 0 0 -30px;width:60px">
p: a(href="https://placekitten.com/"): img(src="https://placekitten.com/g/200/160")

h2 Index
ul
    li: a(href="/about") <span class="octicon octicon-person"></span> About
    li: a(href="/posts/") <span class="octicon octicon-file-text"></span> Blog
    li: a(href="https://github.com/lotz84", target="blank_") <span class="octicon octicon-mark-github"></span> Github
    li: a(href="https://twitter.com/lotz84_", target="blank_") <span class="octicon octicon-mention"></span> Twitter
    li: a(href="/feed.xml", target="blank_") <span class="octicon octicon-rss"></span> RSS
script(type="text/javascript").
    var nend_params = {"media":9473,"site":133290,"spot":352659,"type":1,"oriented":1};
script(type="text/javascript" src="http://js1.nend.net/js/nendAdLoader.js")
