:markdown
    #[flip map](/)
    [![](https://placekitten.com/g/200/160)](https://placekitten.com/)
    ##Index
    * [About](/about)
    * [Blog](/posts/)
    * [Github](https://github.com/lotz84)
    * [Twitter](https://twitter.com/lotz84_)

script(src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" async)
ins(class="adsbygoogle" style="display:inline-block;width:336px;height:280px" data-ad-client="ca-pub-1606689071691648" data-ad-slot="9741642218")
script.
    (adsbygoogle = window.adsbygoogle || []).push({});
