<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>$title$</title>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lora" />
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/prism.css" />
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="/fonts/octicons.css" />
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">flip map</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/about"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> About</a></li>
                        <li><a href="/posts"><span class="glyphicon glyphicon-book"></span> Blog</a></li>
                        <li><a href="https://github.com/lotz84" target="blank_"><span class="octicon octicon-mark-github"></span> Github</a></li>
                        <li><a href="https://twitter.com/lotz84_" target="blank_"><span class="octicon octicon-mention"></span> Twitter</a></li>
                        <li><a href="/feed.xml" target="blank_"><span class="octicon octicon-rss"></span> RSS</a></li>
                    </ul>
                    <script>function searchDuckDuckGo(e) {var q = $$("form.duckduckgo-search input[name=q]");q.val(q.val()+" site:http://lotz84.github.io/");}</script>
                    <form class="duckduckgo-search navbar-form navbar-left" role="search"
                        method="GET" action="https://duckduckgo.com/" onsubmit="searchDuckDuckGo()">
                        <div class="form-group">
                            <input type="text" class="form-control" name="q" placeholder="Search DuckDuckGo">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div>
        </nav>
        <div class="row entry-body-main">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                $body$
            </div>
            <div class="col-md-1"></div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script type="text/javascript" src="/js/prism.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-38246049-16', 'auto');
            ga('send', 'pageview');
        </script>
    </body>
</html>
