extends ../_base

block content
    h1 #{title}
    p #{date}
    != yield

    table
        tr
            td
                //- Hatebu Button
                a(href="http://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" data-hatena-bookmark-layout="simple-balloon" title="このエントリーをはてなブックマークに追加")
                    img(src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;")
                script(type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async")
            
                //- Tweet Button
                a(href="https://twitter.com/share" class="twitter-share-button") Tweet
                script.
                    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
            
                //- Facebook Button
                #fb-root
                script.
                    (function(d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s); js.id = id;
                        js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.3";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));
                .fb-like(data-layout="button_count" data-action="like" data-show-faces="false" data-share="false")
            td
                script(src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" async)
                ins(class="adsbygoogle" style="display:inline-block;width:336px;height:280px" data-ad-client="ca-pub-1606689071691648" data-ad-slot="9741642218")
                script.
                    (adsbygoogle = window.adsbygoogle || []).push({});
