<div id="blog-index">
    <h1>Blog</h1>
    <ul>
    <% for(slug in public.posts._data) { %>
        <% if(slug == "index") { continue; } %>
        <% var post = public.posts._data[slug] %>
        <li><a href="<%- slug %>"><%- post.title %></a> - <%- post.date %></li>
    <% } %>
    </ul>
</div>
