#blog-index
    :markdown
        #Blog
        * [Haskellで簡単に乱数を使ってみる](use-random-easily-in-haskell) - 2015/04/08
        * [レンズは余状態余モナドの余代数だった](lenses-are-the-coalgebras-for-the-costate-comonad) - 2015/04/04
        * [Parsecで計算機を書いてみた](write-calculator-using-parsec) - 2015/02/10
        * [Swift で分割コンパイルする方法](the-way-of-separate-compilation-in-swift) - 2015/02/07
        * [HaskellでSeleniumを使ってみる＠勉強会](use-selenium-by-haskell) - 2014/12/14
        * [Haskell から MySQL を使う](use-mysql-from-haskell) - 2014/12/01
